
/* CSS Document */


.BigScreen {
    background: #000d4a url(../images/bg.jpg) center center;
    background-size: cover;
    color: #fff;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    /*position: absolute;*/
    /*transform: translate(-1.3vw ,-1.5vh);*/
}

li {
    list-style-type: none;
}

/*@font-face{font-family:electronicFont;src:url(../font/DS-DIGIT.TTF)}*/
i {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
}

img {
    border: none;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #399bff;
}

a.active, a:focus {
    outline: none !important;
    text-decoration: none;
}

ol, ul, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0
}

a:hover {
    color: #06c;
    text-decoration: none !important
}



.clearfix:after, .clearfix:before {
    display: table;
    content: " "
}

.clearfix:after {
    clear: both
}

.pulll_left {
    float: left;
}

.pulll_right {
    float: right;
}

谷哥滚动条样式
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    position: absolute
}

::-webkit-scrollbar-thumb {
    background-color: #5bc0de
}

::-webkit-scrollbar-track {
    background-color: #ddd
}



.loading {
    position: fixed;
    left: 0;
    top: 0;
    font-size: 18px;
    z-index: 100000000;
    width: 100%;
    height: 100%;
    background: #1a1a1c;
    text-align: center;
}

.loadbox {
    position: absolute;
    width: 160px;
    height: 150px;
    color: #324e93;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -75px;
}

.loadbox img {
    margin: 10px auto;
    display: block;
    width: 40px;
}

.head {
    height: 4rem;
    background: url(../images/head_bg.png) no-repeat center center;
    background-size: 100% 100%;
    position: relative
}

.head h1 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: -1px;
}

.head h1 img {
    width: 7.5rem;
    display: inline-block;
    vertical-align: middle;
}

.time {
    position: absolute;
    right: .75rem;
    top: 0;
    line-height: 3.75rem;
    color: rgba(255, 255, 255, .7);
    font-size: 1.3rem;
    padding-right: .5rem;
}

.mainbox {
    padding: 0 1rem 0rem 1rem;
    height: 90%
}

.mainbox > ul {
    margin-left: -.5rem;
    margin-right: -.5rem;
    height: 100%
}

.mainbox > ul > li {
    float: left;
    padding: 0 .5rem;
    height: 100%;
    width: 30%
}

.mainbox > ul > li:nth-child(2) {
    width: 40%
}

.boxall {
    padding: 0 1rem 1rem 1rem;
    background: rgba(6, 48, 109, .5);
    position: relative;
    margin-bottom: .75rem;
    z-index: 10;
}

.alltitle {
    font-size: 1rem;
    color: #fff;
    line-height: 2.5rem;
    position: relative;
    padding-left: .75rem
}

.alltitle:before {
    position: absolute;
    height: 1rem;
    width: 4px;
    background: #49bcf7;
    border-radius: 5px;
    content: "";
    left: 0;
    top: 50%;
    margin-top: -.5rem;
}

.boxnav {
    height: calc(100% - 2.5rem);
}

.row > li {
    float: left;
    height: 100%;
}

.col-6 {
    width: 50%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333%;
}

.h100 {
    height: 100%;
}

.tit01 {
    text-align: center;
    color: white;
    font-size: .8rem;
    padding: 1.5rem 0 .25rem 0;
}

.piebox {
    height: calc(100% - 2.5rem);
    position: relative;
}


.row1 .bar1 {
    height: 100%;
    background: url(../images/bg01.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.bar1 img {
    width: 2rem;
    margin-right: .75rem;;
}

.bar1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar1 span {
    color: #fff;
    font-size: .8rem;
    display: block;
    font-weight: normal;
}

.bar1 h3 {
    color: #fef000;
    font-size: 1.1rem;;
}

.row1 li {
    padding: 1rem .5rem 0 .5rem;
}

.row1 {
    margin-left: -.5rem;
    margin-right: -.5rem;
}

.row1 .bar2 {
    background: url(../images/bg02.png) no-repeat;
    background-size: 100% 100%;
}

.row1 .bar2 h3 {
    text-align: right;
}

.paim li > span {
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    background: #878787;
    border-radius: .25rem;
    margin-right: .5rem;
    font-size: .8rem;
}

.paim li:nth-child(1) > span {
    background: #ed405d
}

.paim li:nth-child(2) > span {
    background: #f78c44
}

.paim li:nth-child(3) > span {
    background: #49bcf7
}

.paim li {
    display: flex;
    align-items: center;
    height: 20%;
    padding: 1vw;
}
/*设置文章榜单模块高度*/
.wenzhan{
    height: fit-content !important;
}

.pmbar {
    position: relative;
    display: flex;
}

.pmbar span {
    background: linear-gradient(to right, #14b6ff, #9cefff);
    display: inline-block;
    vertical-align: middle;
    height: .8rem;
    border-radius: 2.5rem;
}

.pmbar i {
    line-height: 1rem;
    font-style: normal;
    padding-left: .5rem;
    font-size:.8rem;
    color: #49bcf7
}

.pmnav {
    width: calc(100% - 2.5rem)
}

.pmnav p {
    color: #fff;
    opacity: 3;
    font-size: .75rem;
    padding-bottom: .25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sqzs {
    margin-right: 1rem;
}

.sqzs p {
    padding: 1rem 0;
    font-size: 1.1rem;
}

.sqzs h1 {
    height: calc(100% - 3.25rem);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    border-top: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    align-items: center;
    color: #fef000;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 4.25rem;
    justify-content: center;
    padding-bottom: .25rem;
}


.sec li {
    height: 33.3333%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.sec li > div:nth-child(1) {
    width: 85%
}

.sec li > div:nth-child(2) {
}

.sec .bar2 {
    position: relative;
    width: 70%;
    margin: .5rem 0;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #08ff00;
    height: .3rem;
    padding: .35rem;
    border-radius: 5rem;
}

.sec .bar2 span {
    display: block;
    height: 100%;
    background: linear-gradient(to right, #14b6ff, #9cefff);

}
/*进度条样式*/
.sec .bar2 .dcom{
    background: linear-gradient(to right, #b48135, #356924);
    display: block !important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 5rem;
}
.sec p {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.sec p img {
    width: 1.75rem;
    margin-right: .75rem;
}

.barnav span {
    text-align: center;
    color: #9a8939;
    font-size: 1.1rem;
    padding-left: .5rem;
    line-height: 1.5rem;
}
.barnav .dcom{
    display: block;
     background: green;
     height: 2vw;
}
.zaf {
    text-align: center;
}

.zaf p {
    justify-content: center
}

.zaf p img {
    width: .9rem;
    margin-right: 0;;
}

.zaf span {
    color: #00d3ff;
    font-family: Impact;
    font-size: 1.75rem;
}

.zaf span i {
    font-style: normal;
    font-size: .9rem;
}




